.settings {
    background: transparent;
    border: transparent;
    cursor: pointer;
}



.settingsIcon {
    font-size: 50px;
    transition: all 0.3s ease 0s;
}

//-------------------------------------------settingsPage



//---------------------------------------------------/settingsPage



//----------------------------------------------settingsItem
.settingsItem {}

.minutes {}

//--------------------------slider
.sliderRed {
    height: 40px;
    border: 2px solid RED;
    border-radius: 20px;
}

.trackRed {}

.thumbRed {
    background: RED;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sliderGreen {
    height: 40px;
    border: 2px solid GREEN;
    border-radius: 20px;
}

.trackGreen {}

.thumbGreen {
    background: GREEN;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


//--------------------------slider

//---------------------------------------------------/settingsItem