.timerWrapper {
    margin: 0 auto;
    max-width: 600px;
}

.contentContainer {
    max-width: 300px;
    margin: 0 auto;

}

.navContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    padding-top: 20px;
}